@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --dark: #111738;
    --dark-sub: #A0A2AF;
    --gradient: linear-gradient(90deg, rgba(97,0,255,1) 0%, rgba(173,0,255,1) 100%);
}

body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.signup-container, p {
    color: var(--dark-sub);
    font-weight: 400;
}

.signup-container, a {
    color: var(--dark);
    font-weight: 500;
    text-decoration: none;
}

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
    margin: 20px 0 10px;
    color: var(--dark);
}

.signup-container p {
    color: var(--dark);
}

label {
    color:var(--dark);
}

form {
    text-align: left;
}

.action-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
    border: 1px solid #E6E6E6;
    background-color: #F9F9F9;
    border-radius: 5px;
}
form input::placeholder {
    padding: 10px;
    color: var(--dark-sub);
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #d4d4d4ee;
    cursor: pointer;
}


.email-signup-btn {
    font-weight: 500;
    background-image: linear-gradient(90deg, rgba(97,0,255,1) 0%, rgba(173,0,255,1) 100%);
    background-size: 200% 200%;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.5s ease;
    border-radius: 5px;
}

.email-signup-btn:hover {
    animation: gradient 1s infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.google-signup-btn {
    background-color: #EEEE;
    color: var(--dark);
    font-weight: 500;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-signup-btn img {
    width: 20px;
    margin-right: 10px;
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.divider hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid var(--dark-sub);
}

.divider span {
    margin: 0 10px;
    font-weight: 400;
    color: var(--dark-sub);
}
